{% extends "base_generic.html" %}

{% block content %}
    <h1>Freeshelf</h1>
    <h2>Book List</h2>
    <p>Every book in the library is listed here. To view books of a specific language, check out the <a href="{% url 'categories' %}">categories</a> page.</p>
    <hr>
    {% if book_list %}
        <ul>
            {% for book in book_list %}
            <li>
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> - {{ book.author }}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}    
{% endblock %}